    {% verbatim %}
<script id="mailmod-template" type="text/x-handlebars-template">
{{#if datos }}
<form class="form-horizontal" id="mailModForm" name="mailModForm" role="form" method="POST">
    <legend>Estado del Buzón para <b id="usermod">{{datos.usermod}}</b></legend>
    <div class="form-group">
        <div class="col-xs-6">
            <label for="ou" class="col-xs-7 text-left">Estado de Cuenta de Correo</label>
            <div class="col-xs-5" id="cuenta">
                <div class="btn-group btn-toggle" id="cuentastatus"> 
                    <button id="encendido" class="btn btn-xs btn-default">Active</button>
                    <button id="apagado" class="btn btn-xs btn-primary active">{{ datos.cuentastatus }}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="ou" class="col-xs-7 text-left">Estado del Buzón de Correo</label>
            <div class="col-xs-5" id="buzon">
                <div class="btn-group btn-toggle" id="buzonstatus">
                    <button id="encendido" class="btn btn-xs btn-default">Enabled</button>
                    <button id="apagado" class="btn btn-xs btn-primary active">{{ datos.buzonstatus }}</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="form-group text-center" id="cargador" name="cargador" style="display: none">
    {% endverbatim %}
        <img src="{{ activos('resources/loader.gif') }}" alt="espere..." class="img-circle">
    {% verbatim %}
    </div>
{{/if}}
</form>
</script>

<script id="usermod-template" type="text/x-handlebars-template">                
{{#if datos.enlaces.modificacion}}
    <form class="form-horizontal" id="userModForm" name="userModForm" role="form" method="POST">
        <legend>Modificación para usuario <b id="usermod">{{datos.usermod}}</b></legend>
        <div class="form-group">
            <label for="uid" class="col-md-3 text-left">Nombres</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="nameuser" name="nameuser" required placeholder="Nombres" autofocus autocomplete="off" value="{{datos.nameuser}}">
            </div>
            <input type="hidden" name="usermod" value="{{datos.usermod}}">
        </div>
        <div class="form-group">
            <label for="apelluser" class="col-md-3 text-left">Apellidos</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="apelluser" name="apelluser" required placeholder="Apellidos" autocomplete="off" value="{{datos.apelluser}}">
            </div>
        </div>
        <div class="form-group">
            <label for="o" class="col-md-3 text-left">Establecimiento</label>
            <div class="col-xs-9" id="remote">
                <input type="text" class="form-control input-sm" id="o" name="o" placeholder="Ingrese un establecimiento" autocomplete="off" value="{{datos.o.label}}" data-rule-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="ou" class="col-md-3 text-left">Oficina</label>
            <div class="col-xs-9" id="div_ou" name="div_ou">
                <input type="text" class="form-control input-sm" id="ou" name="ou" placeholder="Oficina" autocomplete="off" value="{{datos.ou}}" data-rule-required="true">
            </div>
        </div>
        
        <div class="form-group">
            <label for="cargo" class="col-xs-3 text-left">Cargo</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="cargo" name="cargo" placeholder="Cargo" autocomplete="off" value="{{datos.cargo}}">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-xs-3 text-left">Teléfono</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="phone" name="phone" placeholder="Telefono" autocomplete="off" value="{{datos.phone}}">
            </div>
        </div>
        <div class="form-group">
            <label for="ou" class="col-xs-12 text-left">Pertenencia a Grupos</label>
            <div class="col-xs-6">
                <label for="ou" class="col-xs-12 text-left">Grupo Principal</label>
                <select class="form-control col-xs-12" id="grupouser" name="grupouser">
                    {{#each datos.grupos}}
                        <option value="{{gidNumber}}">{{cn}}</option>";
                    {{/each}}
                </select>
            </div>
            <div class="col-xs-6">
                <label for="ou" class="col-xs-12 text-left">Grupos Adicionales</label>
                <select multiple class="form-control col-xs-12" size="10" id="grupos" name="grupos">
                    {{#each datos.grupos}}
                        <option value="{{cn}}">{{cn}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-md btn-primary" id="enviar" tabindex="1" role="button">Modificar Usuario</button> 
            <button class="btn btn-md btn-default" id="reset" tabindex="2" role="button">Cancelar</button> 
        </div>
    </form>
{{/if}}
{% endverbatim %}
{% if rol=="admon"%}
    {% verbatim %}
        {{#if data.datos.enlaces.creacion}}
            <div class="form-group text-center" id="creacion">
                <h4><a id="creacion" href="/useradd/{{datos.usermod}}">¿Desea agregar al usuario?</a></h4>
            </div>
        {{/if}}
    {% endverbatim %}
{% endif %}
</script>
