{% extends "base/layout.html.twig" %}
{% block titulo -%}Listado de usuarios{% endblock %}
{% block javascript -%}
{% endblock %}

{# Configuramos las variables que la plantilla padre usa para formar el menu #}
{% set menu = menu %}
{% set pagina = pagina %}

{% block lateral %}
    <h3>Configuracion</h3>
    Bienvenido <b>{{titulo}} {{usuario}}</b>
    <p>Puede configurar los usuarios de la lista, eliminar sus privilegios (Pero no el usuario) y agregar un nuevo usuario con funciones administrativas</p>
{% endblock %}

{% block contenido -%}
  {{ parent() }}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Usuario</th><th>Dominio</th><th>Rol</th><th>Acciones</th>
        </tr>
        </thead>
        <tbody id=respuesta>
        {% for usuario in datos %}
            <tr>
                <td>{{ usuario.user }}</td>
                <td>{{ usuario.dominio}}</td>
                <td>{{ usuario.titulo}}</td>
                <td>
                    <button type="button" class="btn {#btn-default#} btn-xs alert-success">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </button>
                    <button type="button" class="btn btn-default btn-xs alert-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        Eliminar
                    </button>
                </td>
            </tr> 
        {% endfor %}
        </tbody>
    </table>
        {%include 'configuracion/usuarioModificar.html.twig'%}
{% endblock %}
