<html lang="es">
  <head>
    <meta charset="utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=0.9">#}
    <meta name="description" content="Directorio Telefónico en PHP">
    <meta name="author" content="Alexander Ortiz">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Directorio MINSAL - {% block titulo %}  {# Personalizamos titulo #} {% endblock%}</title>
    <link href="{{ activos('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ activos('css/jumbotron.css') }} " rel="stylesheet">
    {% block css %} {% endblock %}
    <script src="{{ activos('js/vendor/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ activos('js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Directorio MINSAL</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block menu %} 
                {% include 'menu.html.twig' with {'menu': menu, 'pagina': pagina } %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/login/final">Cerrar Sesión</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% block lateral %}  
                {%endblock %}
            </div>
            <div class="col-lg-9">
                {% block contenido %} 
                {%endblock %} 
                {% if errorLDAP %}
                    <center><h3>{{ errorLDAP.titulo }}: <b>{{ errorLDAP.mensaje }}</b></h3></center>
                {% endif %}
            </div>
{#        </div>
        <div class="row">#}
            <hr>
            <footer class="span12">
                <p class="text-center text-info">DTIC - Unidad de Redes y Seguridad Informática 2014  </p>
            </footer>
        </div>
    </div>
  </body>
    {% block javascript %} {% endblock %}
</html>