{% extends "layout.html.twig" %}
{% block titulo -%}Listado de usuarios{% endblock %}
{% block css -%} 
    <link href="{{ activos('css/jumbotron.css') }} " rel="stylesheet">
{% endblock %}
{# Configuramos las variables que la plantilla padre usa para formar el menu #}
{% set menu = menu %}
{% set pagina = pagina %}

{% block lateral %}

  <div class="span12">
    <h2>Directorio Minsal</h2>
    <p>Utilidades para primera linea de apoyo<br>
    Bienvenido <b>{{rol}} {{usuario}}</b></p>
</div>
{% endblock %}

{% block contenido -%}
    {{ parent() }}
    <form class="form-horizontal" role="form" id="usuarioform" tabindex="0" action="/mostrarpass/datos" method="POST">
        <div class="form-group">
            <div class="col-lg-12">
                <input class="form-control input-lg" id="usuarioCliente" name="usuarioCliente" placeholder="Nombre del Usuario">
            </div>
        </div>
        <div class="input-group input-group-lg col-lg-12">
            <button class="btn btn-lg btn-success" id="enviar" tabindex="1" role="button">Contraseña!</button> 
        </div>
    </form>
    {% if datos %}
        
        <dl class="dl-horizontal">
            <h2><dt>Contraseña</dt>
                <dd id="psswduser">{{datos.psswduser}}</dd></h2>
            <h3><dt>Nombre de usuario</dt>
            <dd id="nameuser">{{datos.nameuser}}</dd>
            <dt>Localidad</dt>
            <dd><b>{{datos.oficina}}</b> en <b>{{datos.localidad}}</b></dd>
            <dt>Estado de la Cuenta</dt>
            <dd id="cuentastatus">{{datos.cuentastatus}}</dd>
            <dt>Estado del Buzón</dt>
            <dd id="buzonstatus">{{datos.buzonstatus}}</dd>
            <dt>Grupo Principal </dt>
            <dd id="grupouser">{{datos.grupouser}}</dd></h3>
        </dl>
    {% endif %}
    {% if mensajeError %}
    <div class="col-lg-8 alert alert-error" id="advertencia">
        <ul class="list-unstyled">
            <li class="invalid"><strong>{{mensajeError}}</strong></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}