{% extends "base/layout.html.twig" %}
{% block titulo -%}Listado de usuarios{% endblock %}
{% block css -%} 
    <link href="{{ activos('css/jumbotron.css') }} " rel="stylesheet">
{% endblock %}
{% block javascript %} 
    <script src="{{ activos('js/controladores/usermodControl.js') }}" type="text/javascript"></script>
{% endblock %}
{# Configuramos las variables que la plantilla padre usa para formar el menu #}
{% set menu = menu %}
{% set pagina = pagina %}

{% block lateral %}
    <h3>Revisión de usuarios</h3>
    <p>Utilidades para primera linea de apoyo<br>
    Bienvenido <b>{{titulo}} {{usuario}}</b></p>
{% endblock %}

{% block contenido -%}
    {{ parent() }}
    <form class="form-horizontal" role="form" id="busqueda" name="busqueda" action="/usermod/envio" method="POST">
        <div class="form-group">
            <div class="col-lg-12">
                <input class="form-control input-lg" id="usuarioModificar" autofocus name="usuarioModificar" placeholder="Nombre del Usuario">
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg btn-primary" id="enviar" tabindex="1" role="button">Ir a Modificar!</button> 
        </div>
    </form>
    {% include 'usermod.form.twig' %}
    
    <form class="form-horizontal" role="form" id="resultadoForm" name="resultadoForm">
        <div class="form-group">
            <label id="modAttrUser" class="col-lg-12 text-left"></label>
            <label id="modGroupUser" class="col-lg-12 text-left"></label>
            <label id="modMovUserGroup" class="col-lg-12 text-left"></label>
            
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg btn-link" id="regresarInicio" name="regresarInicio" tabindex="1" role="button">Inicio!</button> 
        </div>
    </form>
    
{% endblock %}