{% extends "layout.html.twig" %}
{% block titulo -%}Cambio de contraseña{% endblock %}
{% block javascript %} 
  <script src="{{ activos('control/indexControl.js') }}" type="text/javascript"></script>
{% endblock %}

{% block lateral %} 
<h2>Cambio de contraseña</h2>
<p>Cambio de contraseña para <b>{{datos.user}}</b></p>
{% endblock%}

{% block menu %} 
    {% include 'menu.html.twig' with {'menu': menu  } %}
{% endblock %}

{% block contenido -%}
  {{ parent() }}
  <h2>{{ status }}</h2>
  <h3>{{ title }}</h3>
  <p>{{ text }}</p>
  {% for linea in trace %}
    <p>{{ linea }}</p>
  {% endfor %}
{% endblock %}

        
        

