{% extends "layout.html.twig" %}
{% block titulo -%}Listado de usuarios{% endblock %}

{% block lateral %}
Contenido a mostrar a la izquierda
{{ pagina }}
{% endblock %}

{% block menu %} 
    {% for archivo, titulo in menu %}
        {% if archivo == pagina %}
            <li class="active"><a href='{{archivo}}.php'>{{ titulo }}</a></li>
        {% else %}
            <li><a href='{{archivo}}.php'>{{ titulo }}</a></li>
        {% endif %}
    {% endfor %}  
{% endblock %}

{% block contenido -%}
  {{ parent() }}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nombre</th><th>Correo</th><th>Puesto</th>
            </tr>
        </thead>
        <tbody id=respuesta>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.cn }}</td><td>{{ empleado.mail }}</td><td>{{ empleado.title }}</td>
            </tr> 
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
